* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f7f6f9;
}

ul {
  padding: 0;
}

button {
  transition: all 0.5s;
}

li {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 999;
}

.nav-links {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mylogo {
  color: #6070ff;
  font-size: 20px;
  animation: logo 1.2s ease-in-out 3s 1 forwards;
}

.mylogo a {
  text-decoration: none;
}

@keyframes logo {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.contact a {
  color: #7f8cff;
  text-decoration: none;
}

#hamburger {
  height: 50px;
  z-index: 999;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.burger {
  margin: 2px 0;
  border-bottom: 3px solid #6070ff;
  width: 26px;
}

.home-section {
  height: 770px;
  border-bottom-left-radius: 100px;
  background-color: white;
  overflow: hidden;
}

.home-section-details {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  margin-top: 140px;
  padding: 0 20px;
  background-image: url("img/header.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

#home-section-title {
  color: #172b4d;
  font-size: 40px;
  margin-bottom: -20px;
  padding: 0;
  width: 327px;
}

#home-section-info {
  color: #344563;
  font-size: 16px;
  transition: transform 0.8s ease-in;
}

#home-section-info:hover {
  transform: translateX(5%);
}

.social-icons {
  display: flex;
  margin: 0;
  padding: 0;
}

.social-icons li {
  list-style: none;
  margin-right: 10px;
}

.social-icons i {
  color: #505f79;
  font-size: 20px;
}

.work-section {
  padding-right: 15px;
  padding-left: 5px;
  padding-top: 50px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 100px;
}

.work-section-card {
  background-color: #fff;
  box-sizing: border-box;
  margin: 0;
  border-radius: 18px;
  padding: 0;
  display: block;
  height: auto;
  margin-left: 10px;
  text-decoration: none;
}

.work-section-card-right {
  padding-left: 20px;
}

.work-section-card-left {
  padding-left: 20px;
}

.card-info {
  display: flex;
  align-items: center;
  padding-right: 10px;
  margin: 0;
}

.card-info li {
  font-weight: bold;
  padding-right: 10px;
}

.author-name {
  color: #172b4d;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: -13px;
}

.card-grid {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 80px;
  background-color: #f7f6f9;
}

.card-info-title {
  font-size: 16px;
  color: #344563;
}

.img-container {
  width: 100%;
  max-width: 100%;
}

.img-container img {
  width: 100%;
  max-width: 100%;
}

.img-left {
  width: 100%;
  max-width: 100%;
}

.img-left img {
  width: 100%;
  max-width: 100%;
}

.author-skills {
  font-size: 13px;
  color: #7a869a;
}

.card-info img {
  background: #c1c7d0;
  border-radius: 50%;
}

.card-date {
  font-size: 13px;
  color: #7a869a;
}

.card-inner-info {
  font-size: 15px;
  margin-top: -10px;
  color: #344563;
  transition: transform 0.8s ease-in;
}

.card-inner-info:hover {
  transform: translateX(5%);
}

.skills {
  display: flex;
  align-items: center;
}

.card-skills-li-html {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  position: static;
  width: 53px;
  height: 24px;
  background-color: #ebebff;
  border-radius: 8px;
  font-size: 14px;
  color: #6070ff;
}

.card-skills-li-css {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  position: static;
  width: 53px;
  height: 24px;
  background-color: #ebebff;
  border-radius: 8px;
  font-size: 14px;
  color: #6070ff;
}

.card-skills-li-js {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  position: static;
  width: 89px;
  height: 24px;
  background-color: #ebebff;
  border-radius: 8px;
  font-size: 14px;
  color: #6070ff;
}

.see-project-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 50px;
  color: #396df2;
  border-radius: 8px;
  border: 1px solid #7f8cff;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 17px;
  background-color: white;
}

.see-project-button:hover {
  background-color: #6070ff;
  color: white;
}

.about-section {
  border-top-right-radius: 100px;
  height: 1300px;
  background-color: white;
  margin-top: 50px;
  overflow: hidden;
}

#about-section-title {
  color: #172b4d;
  font-size: 40px;
  margin-bottom: -17px;
  padding: 0;
  width: 200px;
}

.about-button {
  width: 200px;
  height: 55px;
  color: #396df2;
  letter-spacing: 0.03em;
  border-radius: 8px;
  border: 2px solid #7f8cff;
  margin-top: 30px;
  font-size: 18px;
  background-color: white;
}

.about-button:hover {
  background-color: #6070ff;
  color: white;
}

.about-section-details {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-top: 140px;
  padding: 0 20px;
  width: 100%;
}

.about-right {
  width: 100%;
}

#about-section-info {
  color: #344563;
  font-size: 16px;
}

.languages-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.languages-select p {
  font-size: 20px;
}

.languages-select i {
  color: gray;
  margin-left: 150px;
}

.single-language {
  display: flex;
  align-items: center;
  background-color: #f7f7f9;
  width: 100%;
  margin: 10px auto;
  height: 60px;
  border-radius: 10px;
}

.single-language p {
  margin-left: 10px;
  color: #253858;
}

.single-language img {
  margin-left: 10px;
}

.language-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.framework-select,
.skills-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  width: 100%;
}

.framework-select p,
.skills-select {
  font-size: 20px;
}

.framework-select i,
.skills-select i {
  color: gray;
}

#skills-p {
  width: 115px;
}

.contact-section {
  background-color: white;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact-section-container {
  width: 100%;
  height: 800px;
  padding-left: 8px;
  border-top-left-radius: 100px;
  background-color: #6070ff;
  background-image: url("./img/contact-bg.png");
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;
}

.contact-section-head {
  padding-right: 15px;
  text-align: center;
  padding-top: 20px;
  color: white;
}

.contact-section-title {
  font-size: 40px;
  padding: 0;
}

.contact-section-info {
  font-size: 20px;
  line-height: 28px;
  padding-bottom: 30px;
}

.contact-form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.contact-form input {
  margin-bottom: 20px;
  border: 1px solid #cfd8dc;
  outline: none;
  background-color: white;
  height: 50px;
  font-size: 18px;
  color: #172b4d;
  border-radius: 8px;
  padding-left: 22px;
  width: 98%;
}

.textarea {
  border: 1px solid #cfd8dc;
  margin-bottom: 20px;
  border-radius: 8px;
  width: 98%;
  padding-right: 30px;
  height: 170px;
  padding-left: 22px;
  padding-top: 25px;
  font-size: 18px;
  outline: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #000;
}

.submit-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 48px;
  background: white;
  border-radius: 8px;
  border: none;
  font-size: 17px;
  color: #6070ff;
  cursor: pointer;
  transition: all 0.5s;
}

.submit-contact:hover {
  background-color: #6070ff;
  color: white;
}

@media screen and (min-width: 992px) {
  #hamburger {
    display: none;
  }

  .home-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./img/desktopversionhomepage.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    top: 1px;
    height: 910px;
    overflow: hidden;
  }

  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 999;
  }

  .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-links li {
    padding: 0 20px;
    color: #6070ff;
  }

  .nav-links a {
    text-decoration: none;
  }

  .mylogo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .home-section-details {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 970px;
  }

  #home-section-title {
    width: 500px;
    height: 122px;
    color: #172b4d;
    font-size: 48px;
    padding: 0;
    display: flex;
    align-items: center;
    padding-right: 10px;
  }

  #home-section-info {
    font-size: 20px;
    width: 970px;
    line-height: 28px;
    padding-top: 20px;
  }

  .social-icons i {
    font-size: 25px;
    margin-right: 20px;
  }

  .about-section {
    padding-left: 20px;
    height: 800px;
    overflow: hidden;
  }

  .about-section-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: auto;
    width: 100%;
  }

  #about-section-info {
    padding: 0;
    width: 500px;
    width: 447px;
  }

  #about-section-title {
    font-size: 40px;
  }

  .about-left {
    width: 447px;
  }

  .about-right {
    width: 684px;
    padding-left: 30px;
  }

  .card-grid {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 150px;
    background-color: #f7f6f9;
    padding-left: 20px;
  }

  .work-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
  }

  .work-section-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    height: 496px;
    padding: 0 80px;
  }

  .work-section-card-right {
    background-color: transparent;
  }

  .work-section-card-left {
    width: 400px;
  }

  .img-left {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    width: 500px;
    height: 700px;
    order: 0;
    transition: transform 0.5s ease-in-out;
  }

  .img-left:hover {
    transform: translateZ(5%) scale(1.08);
  }

  .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 700px;
    order: 2;
    transition: transform 0.5s ease-in-out;
  }

  .img-container:hover {
    transform: translateX(5%) scale(1.08);
  }

  .languages-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .languages-select p {
    font-size: 20px;
  }

  .languages-select i {
    color: gray;
    margin-left: 150px;
  }

  .single-language {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: #f7f7f9;
    width: 140px;
    height: 140px;
    border-radius: 10px;
    margin: 0 auto;
  }

  .single-lang-select {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 470px;
    margin: 0;
    padding: 0;
  }

  .single-language p {
    margin-left: 10px;
    color: #253858;
  }

  .single-language img {
    margin-left: 10px;
  }

  .language-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .framework-select {
    display: flex;
    justify-content: space-between;
    color: #344563;
  }

  .skills-select {
    display: flex;
    justify-content: space-between;
    color: #344563;
  }

  .contact-section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: #6070ff;
    background-image: url("/img/contact-form-background-shapes.svg");
    background-repeat: no-repeat;
  }

  .contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -35px;
  }

  .fieldset input,
  .fieldset textarea {
    border: none;
    border-radius: 0;
  }

  .contact-section-head {
    width: 35%;
  }

  .contact-section-title {
    margin-bottom: -25px;
  }
}
