* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  position: static;
  width: 100px;
  height: 20px;
  margin-bottom: 30px;
}

#mylogo {
  color: #6070ff;
  font-size: 23px;
}

#hamburger {
  height: 50px;
  z-index: 999;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.burger {
  margin: 2px 0;
  border-bottom: 3px solid #6070ff;
  width: 26px;
}

.menu-nav-items {
  display: none;
}

.home-section-details {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
  background-color: #fff;
  background-image: url("img/Header\ bg@2x.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 20px;
}

#home-section-title {
  color: #172b4d;
  font-size: 50px;
  margin-bottom: -20px;
}

#home-section-info {
  color: #344563;
  font-weight: bold;
}

#contact a {
  color: #7f8cff;
  text-decoration: none;
}

.social-icons {
  display: flex;
  margin: 0;
  padding: 0;
}

.social-icons li {
  list-style: none;
  margin-right: 10px;
}

.social-icons i {
  color: #505f79;
  font-size: 20px;
}
